<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini SIEM
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <strong>Mini Siem</strong>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/" class={{"secondary" if request.path=="/" else "contrast" }}>Home</a>
                    </li>
                    <li>
                        <a href="/search" class={{"secondary" if request.path=="/form" else "contrast" }}>Search</a>
                    </li>
                </ul>
            </nav>
            {% block content %}{% endblock %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
